
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background: radial-gradient(ellipse at center, #545454 0%, #ffffff 100%);
  }

#site-title {
  position: fixed;
  top: 10%;
  left: 20px;
  margin: 0;
  z-index: 1200;  /* 네비보다 위 */
  font-family: "futura-pt", sans-serif;
  font-size: 40px;
  letter-spacing: 1px;
  color: rgba(36, 36, 36, 1);
  pointer-events: none; /* 클릭해도 3D 회전 방해 안함 */
}

/* === Floating Navigation (GND) === */
#floating-nav {
    position: fixed;
    top: 50px;                
    left: 10%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    padding: 5px 5px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0px;
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
    z-index: 1000;
  }
  
  .nav-btn {
    background: rgba(255, 255, 255, 0.1);
    color: rgba(36, 36, 36, 1);
    font-family: "futura-pt", sans-serif;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.3px;
    border-radius: 0px;
    padding: 3px 5px;
    cursor: pointer;
    backdrop-filter: blur(8px);
    transition: 0.25s ease;
  }
  
  .nav-btn:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: translateY(-3px);
  }  
  
  #bg {
    position: fixed;   /* 추가 */
    inset: 0;          /* 추가: top/right/bottom/left 0 */
    z-index: 0;        /* 추가: 맨 뒤 */
    width: 100%;
    height: 100%;
    display: block;
    pointer-events: none; /* ★ 핵심: 클릭/터치 차단 */
  }

  #project-info {
    font-family: "futura-pt", sans-serif;
      font-weight: 400;
      font-style: normal;
  }
  
  
  #resetBtn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255,255,255,0.3);
    color: #fff;
    font-size: 8px;
    padding: 8px 16px;
    border-radius: 0px;
    cursor: pointer;
    backdrop-filter: blur(6px);
    transition: 0.2s ease;
  }
  #resetBtn:hover {
    background: rgba(255,255,255,0.3);
  }
  #project-info {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    color: white;
    text-align: center;
    background: rgba(116, 116, 116, 0.3);
    font-size: 12px;
    padding: 10px 20px;
    border-radius: 0px;
    backdrop-filter: blur(5px);
    transition: opacity 0.3s ease;
  }


  .hidden {
    display: none;
  }
  
@media (max-width: 900px) {
  html,
  body {
    height: auto;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;   /* 모바일에서만 세로 스크롤 허용 */
  }
}
