
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background: radial-gradient(ellipse at center, #545454 0%, #000000 100%);
  }

  .nav-btn{
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  
  #bg {
    width: 100%;
    height: 100%;
    display: block;
  }

  #project-info {
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  
  
  #resetBtn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255,255,255,0.3);
    color: #fff;
    font-size: 8px;
    padding: 8px 16px;
    border-radius: 0px;
    cursor: pointer;
    backdrop-filter: blur(6px);
    transition: 0.2s ease;
  }
  #resetBtn:hover {
    background: rgba(255,255,255,0.3);
  }
  #project-info {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    color: white;
    text-align: center;
    background: rgba(116, 116, 116, 0.3);
    font-size: 12px;
    padding: 10px 20px;
    border-radius: 0px;
    backdrop-filter: blur(5px);
    transition: opacity 0.3s ease;
  }
  /* === Floating Navigation (GND) === */
/* === Floating Navigation (GND) === */
#floating-nav {
    position: fixed;
    top: 50px;                
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0px;
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
    z-index: 10;
  }
  
  .nav-btn {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.3px;
    border-radius: 0px;
    padding: 8px 18px;
    cursor: pointer;
    backdrop-filter: blur(8px);
    transition: 0.25s ease;
  }
  
  .nav-btn:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: translateY(-3px);
  }  
  .hidden {
    display: none;
  }
  